@media (min-width :320px) and (max-width :420px)
{
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box !important;
   overflow-x:hidden !important ;  
}
#header
{
   z-index: 5 !important;
   background-color: gray;
   display: flex;
   flex-direction: row;
}
#header .leftsidebar h6
 {
    font-size: 12px;
 }
#header  .social-media
{
    margin-left:18%;
    font-size: 13px; 
    letter-spacing: 4px; 
}
 #offcanvasNavbar .offcanvas-body
{
   background-color:#fcbbbb;
   width: 100%;
}
#offcanvasNavbar
{
   width: 60%;
}
#offcanvasNavbar .offcanvas-header
{
   width: 100%;
   height: 35px;
   background-color: gray;
}
.container-fluid 
{
   height: 70px;
   margin-top: 6%;
}
.logo
{
   margin-top: 4%;
}
.logo p
{
    font-size: 10px;
   margin-left: 8%;
}
.navbar-nav
{
    margin-left: 0;
}
.carousel-inner .contant
{
    width: 100%;
    height: 200px;
    margin-top: 0%;
    background-image: url(images/slider\ img-1.jpg);
    background-size: cover;
}
.carousel-inner
{
    margin-top: 27%;
}
.carousel-inner .carousel-item
{
    height: 200px;
}
.contant h2
{
   font-size: 18px;
   color: white;
   margin-left: 10%;
   line-height: 0.6cm;
   margin-top: 13%;
}
#carouselExampleFade .carousel-inner .search-btn
{
    width: 50%;
    text-align: start; 
    font-size: 8px; 
    padding: 3px; 
    margin-left:10%; 
    background-color: transparent; 
    color: white;
}
#carouselExampleFade .carousel-inner .icon
{
   margin-left: 55%;
}
#carouselExampleFade  .carousel-control-prev
{
   width: 10%;
   margin-top: 22%;
}
#carouselExampleFade  .carousel-control-next
{
   width: 10%;
   margin-top: 22%;
}
#ourservices .container .service-head h3
{
    font-size: 22px; 
    margin-left: 28%;
}
#ourservices .container .service-head p
{
    font-size: 12px; 
    font-weight: 400;
    margin-left: 5%;
}
.card-group .card
{
    width: 75% ;
    height: 220px;
    margin-left: 12%;
    padding: 3px;
}
.card-body
{
   margin: 5px;
}
 .card-group .card-img-top
{
   margin-left: 35%;
}
#ourservices .card-body .card-title
{
   text-align: center;
}
#ourservices .container .btn
{
    font-size: 10px; 
     margin-top: 2%;
}
#brides .container2 .bridal-head h3
{
    font-size: 20px; 
    color: #FFADAD;
    font-weight: 600;
    margin-left: 20%;
    margin-top: 0%;
}
#brides .container2 .bridal-head p
{
    font-size: 15px; 
    font-weight: 400;
    margin-left: 12%;
}
#brides  .title
{
    margin-left: 5%;
    /* margin-top: 4%; */
}
#brides  .content-box 
{
    width: 75%;
    height: 350px; 
    margin-left: 12%;
    margin-top: 20%;
}
#brides .title
{
   margin-top: 6%;
}
#brides .para-text
{
   width: 200px;
   text-align: start;
   font-size: 10px;
   margin-top: 1%;
   margin-left: 4%;
}
#brides .text
{
   margin-top: 8%;
    font-size: 10px;
}
#brides .img1
{
    width: 270px; 
    height: 320px;  
    margin-top: 8%;
    margin-left: 10%;
}

#brides .img2
{
    width: 270px; 
    height: 320px; 
    margin-left: 10%;
    margin-top: 8%;
}

#brides .content3
{ 
    width: 68%;
    height: 270px; 
    margin-top: 8%; 
    margin-left: 15%; 
}
#brides .content3 .seemore-btn
{
    width: 40%; 
    margin-left:30%;
    margin-top: 2%;
}
#brides .content3 .title2
{
    margin-top: 8%;
}
#courses .container4
{
   margin-top: 3%;
}
#courses .container4 .course-head h3 
{
   font-size: 18px;
   margin-top: 3%;
   margin-left: 0%;
}
#courses .container4 .course-head p
{
    font-size: 12px; 
    font-weight: 400;
}
#courses .container4 .card-group
{
   width: 100%;
}
#courses .container4 .card
{
   height: 540px;
}
#courses .container4 .card-body
{
   box-shadow: 0px 0px 3px 1px gray inset;
}
#courses .container4 .card-img-top
{
    width: 100%;
    height: 240px;
    margin-left: 0%;
}
#courses .container4 .register-btn
{
     width: 100%;
     background-color: rgb(190, 190, 190);
     border: solid 1px rgb(161, 161, 161);
     color: rgb(104, 104, 104);
     padding: 5px;
     margin-top: 0%;
}
#courses .container4 .card-title1 
{
    font-size: 12px;
    font-weight: 600;
    margin-top: 3%;
}
#appointment .container5 .appointment-head h3
{
    font-size: 22px; 
    color: #FFADAD;
    font-weight: 600;
    margin-left: 15%;
    margin-top: 1%;
}
#appointment .container5 .appointment-head p
{
    font-size: 12px; 
    font-weight: 400;
    margin-left: 3%;
}
#appointment .container5 .img-fluid
{
    width: 75%;
    height: 330px;
    margin-top:0%;
    margin-left: 10%;
}
#appointment .container5 .form-heading
{
   width: 85%;
   height: 500px;
   background-color: rgb(242, 242, 242);
}
#reviews .container6 .review-head h3
{
    font-size: 22px; 
    color: #FFADAD;
    font-weight: 600;
    margin-left: 15%;
    margin-top: 2%;
}
#reviews .container6 .review-head p
{
    font-size: 14px; 
    font-weight: 400;
    margin-left: 20%;
}
#reviews .container6 .card
{
   height: 300px;
    border: none;
    background-color: rgb(237, 237, 237);
}
#reviews .container6 .card-body i
{
    color: #ff9f9f;
    font-size:30px;
    margin-left: 5%;
}
#reviews .container6 .card-img-top
{
    width: 28%; 
    height: 25%; 
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 2%;
}
#footer .container7 .footer-content
{
    width: 90%;
    height: 100%;
    background-color: #7e7e7e;
    margin-left: 5%;
}
#footer .container7 .footer-logo
{
   width: 40%;
   margin-top:0%;
}
#footer .container7 .footer-para
{
   width: 100px;
    font-size: 14px;
}
#footer .container7 .footer-social-media
{
    font-size: 20px;
    letter-spacing: 8px;
    margin-left: 0%;
    color: white;
}
#footer .container7 .footer-links 
{
   list-style-type: none;
   font-size: 15px;
   margin-top: 3% ;
}
#footer .container7 .h6
{
   margin-left:8% ;
}
#footer .container7 .contact-detail
{
   margin-left:5% ;
   font-size: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footer .container7 .contact-footer-links
{
   margin-top: 3%;
}
#service-slide .service-contant
{
   
    height: 200px;
    margin-top: 25%;
}
#carouselExample .carousel-inner
{
    height:240px;
}
#carouselExample .carousel-item .card-img-top
{
    width: 100%;
    margin-left: 0;
}
#carouselExample  .carousel-control-prev
{
    width: 40%;
}
#carouselExample  .carousel-control-next
{
    width: 40%;
}
#course-slide img
{
    width: 100%;
    height: 250px;
    margin-top: 10%;
}
#appointment .container5 .img-fluid
{
    width: 90%;
    height: 350px;
    margin-top: 20%;
    margin-left: 3%;
}
#appointment .appointment-content-2 .content3
{ 
    width: 75%;
    margin-top: 6%;
    margin-left: 12%;
}
#appointment .appointment-content-2 .getservices-btn
{
    width: 45%; 
    margin-left:28%;
}
#appointment .appointment-content-2 .img2 
{
    width: 250px; 
    height: 300px;
    margin-left: 15%;  
    margin-top: 7%;
}
#contact-us .content-box
{
    width: 80%;
    height: 300px;
    margin-left: 9%;
}
#contact-us .content-box .time
{
    margin-left: 30%;
}
#contact-us .contact-content .contact-form
{
    width:75%;
    margin-top: 7%;
}
#contact-us  .contact-form .msg-btn
{
    width: 40%;
}
#map .google-map
{
    margin-top: 22%;
}
}

