@media (min-width :1025px) and (max-width : 1200px) 
{
body
{
    margin: 0;
    padding: 0;
}
#header #heading1
{
    display: flex;
    flex-direction: row;
}
#heading1 .leftsidebar h6
{
    font-size: 15px;
}
#header .social-media
{
  padding: 0;
  margin-left: 67%;
  font-size: 15px;  
}
.navbar-nav
{
    margin-left: 48%;
}
#appointment .appointment-content-2 .img2 
{
    width: 380px; 
    height: 420px;  

}
}